:root,body,html{
  margin: 0;
  padding: 0;
  height: 100%;
}

a{
list-style: none;
text-decoration: none;
}
li{
  list-style: none;
  text-decoration: none;

}

/* swall */
.edit img {
  width: 25px;
}

.edit img:hover{
  cursor: pointer;
}

/* 


Se encuentra 



*/


.formulario{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formulario_item{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}


.item{
  width: 60%;
}


/* buttons */

.buttons button:hover{
  cursor: pointer;
}